/*! SECTION I */
.sectionI {
  position: relative;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 2000px;
  background: url("../../../library/images/eve-online-wallpaper-section3.jpg")
    center center / cover no-repeat;
  /* 
  background-color: white;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 1), transparent);
   */
  overflow: hidden;
}
@media (max-width: 1080px) {
  .sectionI {
    height: 3600px;
  }
}
.sectionI .about11218 {
  position: absolute;
  display: grid;
  grid-template-columns:
    minmax(5px, 1fr) minmax(min-content, 261px) 400px minmax(min-content, 630px)
    minmax(5px, 1fr);
}
.sectionI .about11218 {
  max-width: 100%;
  min-height: 500px;
  top: 150px;
  left: 0;
  right: 0;
  overflow: hidden;
}
.sectionI .about11218 .about11218-I .text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 1px;
  color: white;
  overflow: hidden;
}
.sectionI .about11218 .about11218-I .text h1 {
  font-size: 30px;
}
.sectionI .about11218 .about11218-I .text p {
  font-size: 20px;
}
.sectionI .about11218 .about11218-I .image {
  height: 263px;
  overflow: hidden;
}
.sectionI .about11218 .about11218-I .image img {
  height: 263px;
  overflow: hidden;
}
.sectionI .about11218 .about11218-I .textII {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 20px;
  color: white;
  overflow: hidden;
}
.sectionI .about11218 .about11218-I .textII p {
  font-size: 20px;
}
.sectionI .about11218 .none {
  overflow: hidden;
}
.sectionI .about11218 .about11218-II .text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 1px;
  color: white;
  overflow: hidden;
}
.sectionI .about11218 .about11218-II .text h1 {
  font-size: 30px;
}
.sectionI .about11218 .about11218-II .text p {
  font-size: 20px;
}
.sectionI .about11218 .about11218-II .story {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  height: 263px;
  line-height: 20px;
  color: white;
  background-color: white;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 1), transparent);
  overflow: hidden;
}
.sectionI .about11218 .about11218-II .textII {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 20px;
  color: white;
  overflow: hidden;
}
.sectionI .about11218 .about11218-II .textII p {
  font-size: 20px;
}
h1 {
  margin-left: 5px;
  margin-right: 5px;
}
p {
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 1322px) {
  .sectionI .about11218 {
    grid-template-columns:
      minmax(5px, 1fr) minmax(min-content, 261px) 170px minmax(
        min-content,
        630px
      )
      minmax(5px, 1fr);
  }
}
@media (max-width: 1150px) {
  .sectionI .about11218 {
    grid-template-columns:
      minmax(5px, 1fr) minmax(min-content, 261px) 150px minmax(
        min-content,
        630px
      )
      minmax(5px, 1fr);
  }
}
@media (max-width: 1080px) {
  .sectionI .about11218 {
    content: "";
    clear: both;
    display: table;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sectionI .about11218 .about11218-II .story {
    height: 300px;
  }
  .image {
    background-color: blue;
    width: 260px;
  }
}
@media (max-width: 900px) {
  .sectionI .about11218 .about11218-II .story {
    height: 325px;
  }
}
@media (max-width: 800px) {
  .sectionI .about11218 .about11218-II .story p {
    height: 370px;
  }
}
@media (max-width: 755px) {
  .sectionI .about11218 .about11218-I .textII p {
    font-size: 16px;
  }
  .sectionI .about11218 .about11218-II .text h1 {
    font-size: 17px;
  }
  .sectionI .about11218 .about11218-II .text p {
    font-size: 17px;
  }
  .sectionI .about11218 .about11218-II .textII p {
    font-size: 17px;
  }
  .sectionI .about11218 .about11218-II .story {
    height: 435px;
  }
  .sectionI .about11218 .about11218-II .story p {
    font-size: 15px;
  }
}
.sectionI .aboutCalypso {
  position: absolute;
  display: grid;
  grid-template-columns:
    minmax(5px, 1fr) minmax(min-content, 261px) 400px minmax(min-content, 630px)
    minmax(5px, 1fr);
}
.sectionI .aboutCalypso {
  max-width: 100%;
  min-height: 500px;
  top: 720px;
  left: 0;
  right: 0;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-I .text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 1px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-I .text h1 {
  font-size: 30px;
}
.sectionI .aboutCalypso .aboutCalypso-I .text p {
  font-size: 20px;
}
.sectionI .aboutCalypso .aboutCalypso-I .image {
  height: 263px;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-I .image img {
  height: 263px;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-I .textII {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 20px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-I .textII p {
  font-size: 20px;
}
.sectionI .aboutCalypso .none {
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-II .text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 1px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-II .text h1 {
  font-size: 30px;
}
.sectionI .aboutCalypso .aboutCalypso-II .text p {
  font-size: 20px;
}
.sectionI .aboutCalypso .aboutCalypso-II .story {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  height: 263px;
  line-height: 20px;
  color: white;
  background-color: white;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 1), transparent);
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-II .textII {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 20px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutCalypso .aboutCalypso-II .textII p {
  font-size: 20px;
}
h1 {
  margin-left: 5px;
  margin-right: 5px;
}
p {
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 1322px) {
  .sectionI .aboutCalypso {
    grid-template-columns:
      minmax(5px, 1fr) minmax(min-content, 261px) 170px minmax(
        min-content,
        630px
      )
      minmax(5px, 1fr);
  }
}
@media (max-width: 1150px) {
  .sectionI .aboutCalypso {
    grid-template-columns:
      minmax(5px, 1fr) minmax(min-content, 261px) 150px minmax(
        min-content,
        630px
      )
      minmax(5px, 1fr);
  }
}
@media (max-width: 1080px) {
  .sectionI .aboutCalypso {
    content: "";
    clear: both;
    display: table;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 755px) {
  .sectionI .aboutCalypso {
    top: 50%;
  }
  .sectionI .aboutCalypso .aboutCalypso-I .textII p {
    font-size: 16px;
  }
  .sectionI .aboutCalypso .aboutCalypso-II .text h1 {
    font-size: 17px;
  }
  .sectionI .aboutCalypso .aboutCalypso-II .text p {
    font-size: 17px;
  }
  .sectionI .aboutCalypso .aboutCalypso-II .textII p {
    font-size: 17px;
  }
}
.sectionI .aboutZyklon {
  position: absolute;
  display: grid;
  grid-template-columns:
    minmax(5px, 1fr) minmax(min-content, 261px) 400px minmax(min-content, 630px)
    minmax(5px, 1fr);
}
.sectionI .aboutZyklon {
  max-width: 100%;
  min-height: 500px;
  top: 1290px;
  left: 0;
  right: 0;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-I .text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 1px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-I .text h1 {
  font-size: 30px;
}
.sectionI .aboutZyklon .aboutZyklon-I .text p {
  font-size: 20px;
}
.sectionI .aboutZyklon .aboutZyklon-I .image {
  height: 263px;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-I .image img {
  height: 263px;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-I .textII {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 20px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-I .textII p {
  font-size: 20px;
}
.sectionI .aboutCalypso .none {
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-II .text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 1px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-II .text h1 {
  font-size: 30px;
}
.sectionI .aboutZyklon .aboutZyklon-II .text p {
  font-size: 20px;
}
.sectionI .aboutZyklon .aboutZyklon-II .story {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  height: 263px;
  line-height: 20px;
  color: white;
  background-color: white;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 1), transparent);
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-II .textII {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 20px;
  color: white;
  overflow: hidden;
}
.sectionI .aboutZyklon .aboutZyklon-II .textII p {
  font-size: 20px;
}
h1 {
  margin-left: 5px;
  margin-right: 5px;
}
p {
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 1322px) {
  .sectionI .aboutZyklon {
    grid-template-columns:
      minmax(5px, 1fr) minmax(min-content, 261px) 170px minmax(
        min-content,
        630px
      )
      minmax(5px, 1fr);
  }
}
@media (max-width: 1150px) {
  .sectionI .aboutZyklon {
    grid-template-columns:
      minmax(5px, 1fr) minmax(min-content, 261px) 150px minmax(
        min-content,
        630px
      )
      minmax(5px, 1fr);
  }
}
@media (max-width: 1080px) {
  .sectionI .aboutZyklon {
    content: "";
    clear: both;
    display: table;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 755px) {
  .sectionI .aboutZyklon .aboutZyklon-I .textII p {
    font-size: 16px;
  }
  .sectionI .aboutZyklon .aboutZyklon-II .text h1 {
    font-size: 17px;
  }
  .sectionI .aboutZyklon .aboutZyklon-II .text p {
    font-size: 17px;
  }
  .sectionI .aboutZyklon .aboutZyklon-II .textII p {
    font-size: 17px;
  }
}
