/*! SECTION I */
.sectionI {
  position: relative;
  top: 80px;
  left: 0;
  right: 0;
  padding-bottom: 300px;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 15);
  /*
  background: url("../../../library/images/news-backgroundoriginal.jpg")
    center center / cover no-repeat;
  */
  /*
  background-color: white;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 1), transparent);
  */
  overflow: hidden;
}
.news {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: minmax(min-content, 1fr);
}
.news {
  position: relative;
  max-width: 900px;
  min-height: 500px;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}
/*
.news .news-article-item {
  list-style: none;
  text-decoration: none;
  cursor: text;
}
*/
.news .news-article .news-headline {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.news .news-article .news-headline h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
}
.news .news-article .news-headline p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #979797;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.news .news-article .news-p {
  margin-top: 40px;
  text-align: left;
}
.news .news-article .news-p p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.5;
}
.news .news-article .news-p h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}
.news .news-article .news-p ul {
  text-align: left;
}
.news .news-article .news-p li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.5;
}
.news .news-article .news-p .CCPlink {
  color: rgb(128, 128, 255);
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}
.news .news-article .news-p .CCPlink:hover {
  color: red;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}
.news .news-article .news-p .originalarticle {
  color: goldenrod;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}
.news .news-article .news-p .originalarticle:hover {
  color: red;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}
/* Show more - Show less */
.morecontent span {
  display: none;
  overflow: hidden;
}
.morelink {
  color: goldenrod;
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin-left: 370px;
  margin-right: 370px;
  margin-bottom: 5px;
  overflow: hidden;
}
.morelink:hover {
  color: red;
  overflow: hidden;
}

/*! PAGINATION section */

/* Position at the top of the page 
.pagination-section-top {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
}
.pagination-section-top {
  position: relative;
  max-width: 900px;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}
#Pagination1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination1 ul a {
  color: black;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination1 li {
  background-color: rgb(190, 190, 190);
  float: left;
  padding: 3px 6px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination1 li.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination1 li:hover:not(.active) {
  background-color: grey;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
*/
/* Position at the bottom of the page 

.pagination-section-bottom {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
}
.pagination-section-bottom {
  position: absolute;
  max-width: 900px;
  top: 4650px;
  left: 50%;
  transform: translate(-50%);
}
#Pagination2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination2 ul a {
  color: black;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination2 li {
  background-color: rgb(190, 190, 190);
  float: left;
  padding: 3px 6px;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination2 li.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination2 li:hover:not(.active) {
  background-color: grey;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
*/
.pagination-section {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
}
.pagination-section {
  position: relative;
  max-width: 900px;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%);
}
#Pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination ul a {
  color: black;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination li {
  background-color: rgb(190, 190, 190);
  float: left;
  padding: 3px 6px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination li.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
#Pagination li:hover:not(.active) {
  background-color: grey;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .news {
    max-width: 600px;
  }
  .news .news-article {
    max-width: 600px;
  }
  .news .news-article .image {
    width: 600px;
  }
  .news .news-article .image img {
    width: 600px;
  }
  .news .news-article .news-p h1 {
    font-size: 30px;
  }
  .morelink {
    margin-left: 220px;
    margin-right: 220px;
  }
  .pagination-section {
    max-width: 600px;
  }
}
@media (max-width: 700px) {
  .news {
    max-width: 400px;
  }
  .news .news-article {
    max-width: 400px;
  }
  .news .news-article .news-headline h1 {
    font-size: 30px;
  }
  .news .news-article .image {
    width: 400px;
  }
  .news .news-article .image img {
    width: 400px;
  }
  .morelink {
    margin-left: 120px;
    margin-right: 120px;
  }
  .news .news-article .news-p li {
    font-size: 17px;
  }
  .news .news-article .iframe iframe {
    height: 160px;
    width: 280px;
  }
  .pagination-section {
    max-width: 400px;
  }
}
@media (max-width: 450px) {
  .news {
    max-width: 250px;
  }
  .news .news-article {
    max-width: 250px;
  }
  .news .news-article .news-headline h1 {
    font-size: 20px;
  }
  .news .news-article .image {
    width: 250px;
  }
  .news .news-article .image img {
    width: 250px;
  }
  .morelink {
    margin-left: 50px;
    margin-right: 50px;
  }
  .news .news-article .news-p h1 {
    font-size: 17px;
  }
  .news .news-article .news-p p {
    font-size: 17px;
  }
  .news .news-article .news-p li {
    font-size: 14px;
  }
  .news .news-article .iframe iframe {
    height: 140px;
    width: 250px;
  }
  .pagination-section {
    max-width: 250px;
  }
  #Pagination li {
    background-color: rgb(190, 190, 190);
    float: left;
    padding: 2px 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
}
